RewriteEngine on
Options +FollowSymLinks

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R] # <- for test, for prod use [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

#php_flag display_errors 1

# Add Caching.
<FilesMatch ".(ico|jpg|jpeg|png|gif|js|css|swf)$">
    Header set Cache-Control "max-age=1800"
</FilesMatch>

# Prevent access to files
<FilesMatch ".(php|htaccess|env)$" >
    Order Deny,Allow
    Deny from all
    Allow from 127.0.0.1
</FilesMatch>

<Files index.php>
    Order Allow,Deny
    Allow from all
</Files>

# Extra Security Headers
Header set X-XSS-Protection "1; mode=block"
Header always append X-Frame-Options SAMEORIGIN
Header set X-Content-Type-Options nosniff

# Cookie security
Header always edit Set-Cookie (.*) "$1; SameSite=Lax"

# Referer policy
Header always set Referrer-Policy "same-origin"

# Content security policy
#Header set Content-Security-Policy "default-src *;"

# Prevent directory listings
Options All -Indexes

# Compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
