<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="{% block description %}Erronis Games{% endblock %}">
    <title>{% block title %}Erronis Games{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.min.css') }}">
    {#<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">#}

    {% block scripts %}
    <script src="{{ asset('assets/js/rellax.min.js') }}"></script>
    <script async src="{{ asset('assets/js/sticker.min.js') }}"></script>
    <script async src="{{ asset('assets/js/scroll-indicator.min.js') }}"></script>
    {% endblock %}
</head>

<body>

{% block body %}{% endblock %}

</body>
</html>
