<nav class="sidebar">

    <h1 class="item">Hello, {{ user.name }}</h1>

    <hr class="fading margined">

    <a class="item" href="/admin/dashboard">
        Dashboard
    </a>

    <a class="item" href="/admin/categories">
        Categories
    </a>

    <a class="item" href="#">Henlo</a>

    <a class="item" href="#">Henlo</a>

</nav>
