<nav class="sidebar">

    <h1 class="item">Hello, {{ user.name }}</h1>

    <hr class="fading margined">

    <a class="item" href="/admin">
        Dashboard
    </a>

    <a class="item" href="/admin/categories">
        Categories
    </a>

    <a class="item" href="/admin/posts">
        Posts
    </a>

    <a class="item" href="/admin/access">
        API access
    </a>

</nav>
