@charset "UTF-8";
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  src: url(/public/assets/fonts/Montserrat-Regular.ttf) format("truetype"); }
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  src: url(/public/assets/fonts/Montserrat-Bold.ttf) format("truetype"); }
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
  src: url(/public/assets/fonts/Montserrat-Italic.ttf) format("truetype"); }
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: bold;
  src: url(/public/assets/fonts/Montserrat-BoldItalic.ttf) format("truetype"); }
@font-face {
  font-family: "icomoon";
  src: url("/public/assets/fonts/icons/icomoon.eot?yue2o5");
  src: url("/public/assets/fonts/icons/icomoon.eot?yue2o5#iefix") format("embedded-opentype"), url("/public/assets/fonts/icons/icomoon.ttf?yue2o5") format("truetype"), url("/public/assets/fonts/icons/icomoon.woff?yue2o5") format("woff"), url("/public/assets/fonts/icons/icomoon.svg?yue2o5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon", sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-menu:before {
  content: ""; }

.icon-home:before {
  content: ""; }

.background {
  background-image: url("/public/assets/img/bg_parallax/bgp-large.png"), url("/public/assets/img/bg_parallax/bgp-medium.png"), url("/public/assets/img/bg_parallax/bgp-smol.png");
  filter: alpha(Opacity=10);
  animation: slide 2s linear infinite;
  display: flex;
  flex-direction: column;
  z-index: -999; }

@keyframes slide {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 200px, 0 -120px, 0 100px; } }
.parallax-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80vw;
  max-height: 100vh;
  top: 0; }

.parallax-layer {
  display: block;
  position: absolute;
  object-fit: contain;
  top: 0;
  max-height: 100%;
  width: 100%; }

nav.navbar {
  display: flex;
  padding: 0 20px;
  width: 100vw;
  height: 40px;
  background: #2a2a2a;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
  z-index: 9999999; }
  nav.navbar.fixed {
    position: fixed;
    top: 0; }
  nav.navbar .item {
    padding: 4px 8px;
    min-width: 40px;
    line-height: 32px;
    text-align: center;
    background-color: #2a2a2a;
    transition: background-color 0.5s;
    color: white;
    text-decoration: none; }
    nav.navbar .item:hover {
      background-color: #333333; }

div.post-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: radial-gradient(at bottom, #1f1f1f, #131313) fixed;
  z-index: 10; }

article.post {
  background: #2a2a2a;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
  margin: 10px; }
  @media only screen and (max-width: 600px) {
    article.post {
      width: 95%;
      font-size: small; } }
  @media only screen and (min-width: 600px) {
    article.post {
      width: 85%; } }
  @media only screen and (min-width: 768px) {
    article.post {
      width: 70%; } }
  @media only screen and (min-width: 992px) {
    article.post {
      width: 60%; } }
  @media only screen and (min-width: 1200px) {
    article.post {
      width: 55%; } }
  article.post h2.title {
    margin: 14px 18px 4px; }
  article.post div.excerpt {
    padding: 4px 18px; }
  article.post a.read-more {
    text-align: center;
    display: block;
    height: 1.5em;
    width: 100%;
    margin-top: 6px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%/100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: background-color 0.5s;
    color: white;
    text-decoration: none;
    line-height: 1.5em;
    font-size: 1em; }
    article.post a.read-more:hover {
      background-color: rgba(255, 255, 255, 0.29);
      text-decoration: underline; }

div.single-post-container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(at bottom, #1f1f1f, #131313) fixed;
  z-index: 10; }
  div.single-post-container article.single-post {
    position: relative;
    background: #2a2a2a;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    margin: 60px 10px; }
    @media only screen and (max-width: 600px) {
      div.single-post-container article.single-post {
        width: 95%;
        margin: 40px 0;
        font-size: small; } }
    @media only screen and (min-width: 600px) {
      div.single-post-container article.single-post {
        width: 85%; } }
    @media only screen and (min-width: 768px) {
      div.single-post-container article.single-post {
        width: 70%; } }
    @media only screen and (min-width: 992px) {
      div.single-post-container article.single-post {
        width: 60%; } }
    @media only screen and (min-width: 1200px) {
      div.single-post-container article.single-post {
        width: 55%; } }
    div.single-post-container article.single-post h1.title {
      margin: 14px 18px 4px; }
    div.single-post-container article.single-post div.body {
      margin: 4px 18px 10px; }
      @media only screen and (max-width: 600px) {
        div.single-post-container article.single-post div.body {
          width: 92%;
          margin: auto auto 10px; } }
    div.single-post-container article.single-post time.date {
      position: absolute;
      padding: 3px;
      top: -1rem;
      right: 20px;
      text-align: right;
      font-size: small;
      line-height: 1rem;
      background: #4a4a4a;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75); }

hr.fading {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 5px;
  margin: 0 10px;
  opacity: 0.5; }
  hr.fading:before {
    content: "";
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px; }
  hr.fading.text {
    height: 1.5em;
    margin: 4px 10px; }
    hr.fading.text:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      padding: 0 0.5em;
      line-height: 1.5em;
      color: #818078;
      background-color: #2a2a2a; }

.scroll-indicator {
  display: block;
  position: absolute;
  bottom: 10px;
  animation: bounce 2s infinite;
  opacity: 1;
  transition: opacity 0.4s; }
  .scroll-indicator.disabled {
    opacity: 0;
    transition: opacity 0.4s; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }
html, body {
  font-family: Montserrat, sans-serif;
  color: #fafafa;
  background-color: #161616;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden; }

/*# sourceMappingURL=style.css.map */
