$darker: #131313
$dark: #1f1f1f
$medium: #2a2a2a
$light: #4a4a4a
$lighter: #818078
$text: #fafafa
$accent: blue

$shadow-10: 0 0 10px 0 rgba(0,0,0,0.75)
$shadow-5:  0 0 5px 0 rgba(0,0,0,0.75)

@import "elements/fonts"
@import "elements/ico-font"
@import "elements/background"
@import "elements/parallax"
@import "elements/navbar"
@import "elements/posts"
@import "elements/post"
@import "elements/divider"
@import "elements/scroll-indicator"
@import "elements/form"
@import "elements/admin"
@import "elements/buttons"

html, body
  font-family: Montserrat, sans-serif
  color: $text
  background-color: $darker
  width: 100vw
  height: 100vh
  margin: 0
  padding: 0

html
  overflow-x: hidden

