@import 'variables/dark'

@import 'elements/fonts'
@import 'elements/ico-font'
@import 'elements/background'
@import 'elements/parallax'
@import 'elements/navbar'
@import 'elements/posts'
@import 'elements/post'
@import 'elements/divider'
@import 'elements/scroll-indicator'
@import 'elements/form'
@import 'elements/admin'
@import 'elements/editor'
@import 'elements/buttons'
@import 'elements/links'
@import 'elements/images'
@import 'elements/embeds'
@import 'elements/pagination'
@import 'elements/footer'
@import 'elements/scrollbars'

html,
body
  background-color: $darker
  color: $text
  font-family: Montserrat, sans-serif
  height: 100vh
  margin: 0
  padding: 0
  width: 100vw

html
  box-sizing: border-box
  height: 100%
  overflow-x: hidden

body
  visibility: visible
