<nav class="navbar" id="navbar">
    <a href="/" class="item">
        <i class="icon-home"></i>
    </a>
    <div class="item">UwU</div>
    <div class="item">Rawr</div>
    <div class="item">{{ msg }}</div>
</nav>
