{% extends'Master.twig' %}
{% block title %}Erronis Games{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="background">

        {% include '/includes/navbar.twig' %}

        <div class="post-container">

            <form action="/admin/register" method="post" class="form" id="register">
                <div class="field">
                    <label for="login">Login</label>
                    <input name="login" type="text" id="login">
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input name="email" type="email" id="email">
                </div>
                <div class="field">
                    <label for="password">Password</label>
                    <input name="password" type="password" id="password">
                </div>
                <img src="{{ qr }}">
                <div class="field">
                    <label for="2fa">2FA</label>
                    <input name="2fa" type="password" id="2fa">
                </div>
                <input type="submit" value="Register">
            </form>

        </div>

    </div>

    <script>
        // Accepts any class name
        var rellax = new Rellax('.rellax');
    </script>

{% endblock %}

