$navh: 40px
$vpad: 4px
$hpad: 8px

nav.navbar
  display: flex
  padding: 0 20px
  width: 100vw
  height: $navh
  background: $medium
  box-shadow: $shadow-10
  z-index: 9999999

  &.fixed
    position: fixed
    top: 0

  .item
    padding: $vpad $hpad
    min-width: $navh
    line-height: $navh - 2*$vpad
    text-align: center
    background-color: $medium
    transition: background-color 0.5s
    color: $text
    text-decoration: none

    &:hover
      background-color: $light

